form {
    margin-top: 20px;
    margin-bottom: 0;
}

h1 {
    margin: 0;
}

.dropdown {
    width: 27%;
    text-align: center;
    height: 40px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: cursive, sans-serif;
    outline: 0;
    background: #f3250a;
    color: #fff;
    border: 1px solid crimson;
    margin: 10px;
    border-radius: 9px;
}

.dropdown option{

color: #000000;    
background-color: white;
}


.dropdown option:checked {
    color: rgb(255, 255, 255);
   
    background-color: rgb(26, 121, 230);

  }

.subj {
    width: 56.4%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.assign {
    margin-left: 20px;
}

textarea{
    border-radius: 5px;
    border: none;
    outline: none;
}

.buttoncreate{
    font-family: 'Arial';
    color:white;
    margin-top:15px;
    
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.validButton{
    background-color: transparent;
    border: 2px solid #f12f2f;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.invalidButton{
    background-color: gray;
}

.modal-body{
    text-align: center;
}

.validButton:hover{
    background-color: #f12f2f;
    box-shadow: 0px 10px 25px rgb(175, 25, 25, 0.4);
    color: #fff;
    transform: translateY(-7px);
}