<div class="modal">
    <div class="modal-body">
        <h1>Create Ticket</h1>

        
        <form>
                <select class="dropdown">
                    <option hidden selected>Tracker</option>
                    <option value="BEN">Benefits</option>
                    <option value="PAY">Payroll</option>
                    <option value="REC">Recruitment</option>
                    <option value="TRA">Training</option>
                    <option value="PES">PES</option>
                    <option value="EMP">Employee Relation</option>
                    <option value="MEM">MEMO</option>
                    <option value="COE">COE</option>
                    <option value="ENG">Engagement(RNR)</option>
                    <option value="POL">Policy</option>
                    <option value="HBP">HR Business Partner</option>
                    <option value="OTH">Others</option>
                    
                </select>
            
        
                <select class="dropdown">
                    <option hidden selected>Assignee</option>
                    <option value="2">Saturnina Alvarez</option>
                    <option value="3">Rejine Alquisa</option>
                    <option value="4">Pelissa Jane Ligalig</option>
                    <option value="5">Ma. Giselle Mabunga</option>
                    <option value="6">Jasmine Patalinghug</option>
                </select>
            
            
            <br/>
            <input type="text" placeholder="Subject" class="subj"/>
            <br>
            <textarea rows="10" cols="80" id="description" placeholder="Description"></textarea>
            
        </form>
        

        <button type='button' class="buttoncreate" (click)="onClose()">CREATE</button>
    </div>
</div>
<div class="modal-background"></div>

