
<!-- <h1>this page works</h1> -->


<div class="modal">
    <div class="modal-body">
        <h1>Create Ticket</h1>

        <form>
            <label for="tracker">Tracker</label>
                <select class="dropdown">
                    <option value="1"></option>
                    <option value="2">Benefits</option>
                    <option value="3">Payroll</option>
                    <option value="4">Recruitment</option>
                    <option value="5">Training</option>
                    <option value="6">PES</option>
                    <option value="6">Employee Relation</option>
                    <option value="6">MEMO</option>
                    <option value="6">COE</option>
                    <option value="6">Engagement(RNR)</option>
                    <option value="6">Policy</option>
                    <option value="6">Others</option>
                    <option value="6">HR Business Partner</option>
                </select>
            
            <label for="assignee" class="assign">Assignee</label>
                <select class="dropdown">
                    <option value="1"></option>
                    <option value="2">Saturnina Alvarez</option>
                    <option value="3">Rejine Alquisa</option>
                    <option value="4">Pelissa Jane Ligalig</option>
                    <option value="5">Ma. Giselle Mabunga</option>
                    <option value="6">Jasmine Patalinghug</option>
                </select>
            <label for="subj" class="assign">Select a Subject</label>
            <input type="text" class="subj"/>
            <br/>
            <textarea rows="10" cols="80" id="description"></textarea>
            
        </form>
        

        <button type='button' class="buttoncreate">CREATE</button>
    </div>
</div>
<div class="modal-background"></div>