<div class="modal">
    <div class="modal-body">
        <h1>Create Ticket</h1>

        
        <form [formGroup]="form">
                <select class="dropdown" (change)="changeTracker($event)">
                    <option value="{{trackers[i]['tracker']}}" *ngFor="let tracker of trackers; index as i">{{tracker.description}}</option>
                </select>
            
        
                <select class="dropdown" (change)="changeAssignee($event)" [value]="initialAssignee">
                    <option value="{{users[i]['userID']}}" *ngFor="let user of users; index as i">{{user.name}}</option>
                </select>
            
            
            <br/>
            <input type="text" placeholder="Subject" class="subj" formControlName="subject"/>
            <br>
            <textarea rows="10" cols="80" id="description" placeholder="Description" formControlName="description"></textarea>
            
        </form>
        

        <button type='button' class="buttoncreate" (click)="onClose()" [disabled]="!form.valid">CREATE</button>
    </div>
</div>
<div class="modal-background"></div>

