<div class="box"></div>

<div class="redBox">
    <div class="logo">
        <img id="logo" src = "assets/logo.png" alt="alliance logo">    
    </div>

    <div class="title">
       <h1>USER LOG IN</h1>
        <h2>Welcome!</h2> 
    </div>
    

    <form>
        <div class="input-container">
            <input type="text" required=""/>
            <label>Email</label>		
        </div>

        <div class="input-container">		
            <input type="mail" required=""/>
            <label>Password</label>
        </div>
    </form>	

    <br/>

    <button type='button' class="buttoncreate" routerLink="menu">CREATE</button>
    <br/>
    <button type="button" class="createaccount">Create an Account</button>
</div>





