<div class="box"></div>

<div class="redBox">
    <div class="logo">
        <img id="logo" src = "assets/logo.png" alt="alliance logo">    
    </div>

    <div class="title">
       <h1>USER LOG IN</h1>
        <h2>Welcome!</h2> 
    </div>
    

    <form [formGroup]="form">
        <div class="input-container">
            <input type="type" required="" formControlName="userID" />
            <label>Email</label>		
        </div>

        <div class="input-container">		
            <input type="password" required="" formControlName="password" />
            <label>Password</label>
        </div>
    </form>	

    <br/>

    <button type='button' class="buttoncreate" (click)="onSubmit()">LOG IN</button>
    <br/>
    <button type="button" class="createaccount" (click)="nav('create-account')">CREATE AN ACCOUNT</button>
    <hr>
</div>





