<div class="red">
    <h3>HOME</h3>
  </div>
  
  <div class="logo">
    <img id="logo" src="assets/logo.png" alt="alliance logo" />
  </div>
  
  <div class="navbar"></div>
  <div class="content">
    <p>USERS MANAGEMENT</p>
  </div>
  <div class="ticket-list-div">
    <form [formGroup]="form">
      <div class="bars-and-filters-div">
        <input
          type="text"
          class="custom-search-bar bars-and-filters-elements"
          placeholder="Search..."
          formControlName="searchedValue"
        />
        <select
          name="tracker"
          id="tracker-select"
          class="custom-dropdown bars-and-filters-elements"
          formControlName="role"
          (change)="changeRole($event)"
        >
          <option value="">ROLE</option>
        </select>
      </div>
    </form>
  </div>
  <app-users-list>
    [searchedValueFilter]="searchedValue"
  </app-users-list>
  