<div class="ticket-body">
    <table class="table">
      <thead>
        <tr>
          <th width="10%">USER ID</th>
          <th width="25%">NAME</th>
          <th width="25%">ROLE </th>
          <th width="10%">ACTIONS</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users$ ; index as i ">
        <tr>
          <td width="10%">{{ user["userID"] }}</td>
          <td width="25%">{{ user["name"] }}</td>
          <td width="25%">{{ user["role"] }}</td>
          <td width="10%">
            <button class="custom-text-button">
              View Info
            </button>
            <button class="custom-delete-button">
              <span class="material-symbols-outlined"> delete </span>
            </button>
            <button class="custom-edit-button">
              <span class="material-symbols-outlined" > edit </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  