.updatebtn {
    font-family: 'Chathura';
    font-size: 20pt;
    width: 260px;
    border-radius: 10px;
    font-weight: 900;
    margin-left: 10px;
}
    .updatebtn:active {
      background-color: red;
    }
        .updatebtn:focus {
          background-color: red;
        }

h2{
    margin: 0;
    
}

h3{
    margin: 0;
    display: inline-block;

}
form {
    display: inline-block;
    padding-left: 30px;
   
}
.dropdown {
     display: inline-block;
    width: 150px;
    text-align: center;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: cursive, sans-serif;
    outline: 0;
    background: #f3250a;
    color: #fff;
    border: 1px solid crimson;
    margin: 10px;
    border-radius: 9px;
   
}


#label {
    margin-left: 55px;
}

input{
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #ffffff;
    resize: none;
    outline: none;
  }


  .buttoncreate{
 
    font-family: 'Arial';
    color:white;
    text-align: center;
    background-color: #F12F2F;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    
}
.buttoncreate:hover{
    background-color: rgb(26, 26, 26);

}

.subj {
    width: 20%;
    height: 40px;
    margin-left: 20px;
}

.assign {
    margin-left: 20px;
}

.form-body{
    display: inline-block;
    width: 100%;
}

.form-header{
    display: inline-block;
    text-align: center;
    width: 100%;
}

.form-body-child{
    margin: auto;
    display: block;
    margin-top: 20px;
    width: 100%;
    border-radius: 15px;
}


