<div class="modal">
    <div class="modal-body">
        <h2>Update Ticket</h2>
        <form [formGroup]="form">
            <span class="">
                <h3>Ticket ID: {{selectedTicket.ticketID}}</h3>
            </span>
                <div class="form-header">
                    <select  class="form-header-child dropdown" [(ngModel)]="selectedTicket.status" [ngModelOptions]="{standalone: true}" [(value)]="selectedTicket.status" (change)="changeStatus($event)">
                        <option value="{{ticketStatus[i]['status']}}" *ngFor="let status of ticketStatus; index as i"> {{status.description}}</option>
                    </select> 
                    <select  class="form-header-child dropdown" [(ngModel)]="selectedTicket.assignee" [ngModelOptions]="{standalone: true}" [(value)]="selectedTicket.assignee" (change)="changeAssignee($event)">
                        <option value="{{users[i]['userID']}}" *ngFor="let user of users; index as i"> {{user.name}}</option>
                    </select>  
                    <select  class="form-header-child dropdown" [(ngModel)]="selectedTicket.tracker" [ngModelOptions]="{standalone: true}" [(value)]="selectedTicket.tracker" (change)="changeTracker($event)">
                        <option value="{{trackers[i]['tracker']}}" *ngFor="let tracker of trackers; index as i"  > {{tracker.description}}</option>
                    </select>  
                </div>
                <div class="form-body">
                    <input placeholder="subject..." type="text" class="input-userID form-body-child" formControlName="subject"/>
                    <input placeholder="description..." type="text" class="input-password form-body-child" formControlName="description"/>
                </div>
                <button type='button' class="buttoncreate" (click)="onClose()" [disabled]="!form.valid">UPDATE</button>
            <br/>
        </form>    
    </div>
</div>
<div class="modal-background"></div>