.updatebtn {
    font-family: 'Chathura';
    font-size: 20pt;
    width: 260px;
    border-radius: 10px;
    font-weight: 900;
    margin-left: 10px;
}
    .updatebtn:active {
      background-color: red;
    }
        .updatebtn:focus {
          background-color: red;
        }

form {
    margin-top: 20px;
    margin-bottom: 0;
}

h2, h3 {
    margin: 0;
}

.dropdown {
    width: 27%;
    text-align: center;
    height: 40px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: cursive, sans-serif;
    outline: 0;
    background: #f3250a;
    color: #fff;
    border: 1px solid crimson;
    margin: 10px;
    border-radius: 9px;
}

.intsubject {
    margin-left: 2%;
    height: 40px;
    width: 50%;
    border-radius: 15px;
}

.inttext {
    margin-left: 2%;
    height: 182px;
    width: 63%;
    border-radius: 15px;
}

#label {
    margin-left: 55px;
}

.input {
    margin-top:25px;
    width: 50%;
    height: 47px;
    margin-left: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    resize: none;
}

.buttoncreate{
    font-family: 'Arial';
    color:white;
    margin-top:15px;
    margin-right: 0px;
    text-align: center;
    background-color: #F12F2F;
    width: 100px;
    height: 34px;
    border-radius: 10px;
}

.subj {
    width: 20%;
    height: 40px;
    margin-left: 20px;
}

.assign {
    margin-left: 20px;
}