<div class="modal">
    <div class="modal-body">
        <h2>Update Ticket</h2>

        <h3>Ticket ID: 2013001690</h3>
        
            <form>
                <select class="dropdown">
                    <option value="1">Tracker</option>
                    <option value="2">Benefits</option>
                    <option value="3">Payroll</option>
                    <option value="4">Recruitment</option>
                    <option value="5">Training</option>
                    <option value="6">PES</option>
                    <option value="6">Employee Relation</option>
                    <option value="6">MEMO</option>
                    <option value="6">COE</option>
                    <option value="6">Engagement(RNR)</option>
                    <option value="6">Policy</option>
                    <option value="6">Others</option>
                    <option value="6">HR Business Partner</option>
                </select>
                
                <select class="dropdown">
                    <option value="1">Assignee</option>
                    <option value="2">Saturnina Alvarez</option>
                    <option value="3">Rejine Alquisa</option>
                    <option value="4">Pelissa Jane Ligalig</option>
                    <option value="5">Ma. Giselle Mabunga</option>
                    <option value="6">Jasmine Patalinghug</option>
                </select>

                <select class="dropdown">
                    <option value="1">Status</option>
                    <option value="2">In Progress</option>
                    <option value="3">Resolved</option>
                    <option value="4">Feedback</option>
                    <option value="5">Closed</option>
                    <option value="6">Rejected</option>
                </select>
            </form>

            <input placeholder="Subject" type="text" class="intsubject"/>
            <textarea placeholder="message..." rows="10" cols="80" id="description" class="inttext"></textarea>
            <br/>
            
            <button type='button' class="buttoncreate">UPDATE</button>
    </div>
</div>
<div class="modal-background"></div>