.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


    background-color: #000;
    opacity: 0.75;

    z-index: 900;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1000;

    overflow: x;
}

.modal-body {
    position: absolute;
    width: 1082px;
    height: 555px;
    left: 207px;
    top: 70px;

    background: #2F2F2F;
    border-radius: 71px;

    font-family: 'Chathura';
    font-style: normal;
    font-weight: 70;
    font-size: 42px;
    text-align: center;
    letter-spacing: 0.005em;

    color: #FFFFFF;

}

.updatebtn {
    font-family: 'Chathura';
    font-size: 20pt;
    width: 194px;
    border-radius: 50px;
    font-weight: bolder;
    margin-left: 10px;
}

form {
    margin-top: 20px;
    margin-bottom: 0;
}

h1 {
    margin: 0;
}

.dropdown {
    height: 40px;
    margin-left: 20px;
}

#label {
    margin-left: 55px;
}

.input {
    margin-top:25px;
    width: 50%;
    height: 47px;
    margin-left: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    resize: none;
  }

  .buttoncreate{
    position: fixed;
    font-family: 'Arial';
    color:white;
    float: right;
    margin-top:15px;
    margin-right: 125px;
    text-align: center;
    background-color: #F12F2F;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.subj {
    width: 20%;
    height: 40px;
    margin-left: 20px;
}

.assign {
    margin-left: 20px;
}