<div class="modal">
    <div class="modal-body">
        <h1>View Ticket</h1>

        <table>
            <tr>
              <th style="width: 20px;height: 40px">Tracker</th>
              <td ></td>
            </tr>
            <tr>
                <th>Ticket ID</th>
                <td></td>
            </tr>
            <tr>
                <th>Subject</th>
                <td></td>
            </tr>
            <tr>
                <th>Assignee</th>
                <td></td>
            </tr>
            <tr>
                <th>Description</th>
                <td></td>
            </tr>
        </table> 
        
    </div>
</div>
<div class="modal-background"></div>