<div class="modal">
    <div class="modal-body">
        <h1>Add Reminder</h1>

        <div class="form__group field">
            <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
            <label for="name" class="form__label">Ticket ID</label>
        </div>
        <br/>
        <textarea placeholder="message..." rows="10" cols="80" id="description"></textarea>
        <br/>
        <button type='button' class="buttoncreate">CREATE</button>
    </div>
</div>
<div class="modal-background"></div>