/* You can add global styles to this file, and also import other style files */
Body {
    Background: url("assets/background.jpg") no-repeat center fixed;
    background-size: cover;
    margin: 0;
  }
  
  .navbar {
    height: 150px;
    z-index: 1;
    background-color: black;
    opacity: 0.6;
  }
  
  .logo {
    position: absolute;
    z-index: 1;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 355px;
    height: 130px;
    left: 68px;
    top: 10px
  }
  
  #logo {
    position: absolute;
    padding-top: 10px;
    padding-left: 5px;
    height: 80px;
    z-index: 1;
    margin: 5%;
  }
  
  .red {
  
    position: absolute;
    margin-top: 38px;
    margin-left: 30%;
    height: 70px;
    width: 70%;
    z-index: 1;
    background-color: red;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
    
  }
  
  h3 {
   
    color: white;
    margin-top: 23px;
    margin-left: 10px;
    font-family: 'Chathura';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 25px;
    letter-spacing: 5px;
    padding-left: 15px;
  }
  
  .content p{
    font-family: 'Chathura' ;
    font-style: normal;
    color: white;
    font-size: 100px;
    padding-left: 63px;
    margin-top: .2%;
    margin-bottom: 2%;
    padding-top: 1%;
    letter-spacing: 5px;
    line-height: 50px;
  
  }
  
  h2 {
    margin-top: 0%;
    margin-bottom: 1px;
  }


  .dashbtn{
    border:none;
    font-family: 'Chathura' ;
    border-radius:25px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 61px;
    padding-top: -10px;
    height: 93px;
    color: aliceblue;
    width: 5.5in;
    background: rgba(36, 9, 9, 0.9);
    backdrop-filter: blur(2px);
    cursor: pointer;
    font-size: 70px;  
    letter-spacing: 0.005em;
    line-height: 100%;
  }
  
  .dashbtn:hover{
  
    background-color: rgb(53, 52, 52);
    }
         
    .dashbtn:active{
    
      background-color: black;
    
      }
      .dashbtn:focus{
    
        background-color: black;
        opacity: 80%;
        
        }