<div class="red">
    <h3>HOME</h3>
</div>
  
<div class="logo">
  <img id="logo" src = "assets/logo.png" alt="alliance logo">    
</div>
  
  <div class="navbar"></div>
  <div class="content">
    <p>DASHBOARD </p>
  </div>

  <div class="dashboard-card" >
    
    <img (click)="nav('menu')" id="ticket-card"  src = "assets/dashboard.jpg">
        <h2>Ticket Management</h2>
         
    <img (click)="nav('menu')" id="users-card"  src = "assets/users.jpg"> 
    <h2>Users Management</h2>
  </div>
