<div class="red">
    <h3>HOME</h3>
</div>
  
<div class="logo">
  <img id="logo" src = "assets/logo.png" alt="alliance logo">    
</div>
  
  <div class="navbar"></div>
  <div class="content">
    <p>TICKET MANAGEMENT </p>
  </div>

<div class="btns">
    <button class="dashbtn" (click)="openDialog('list')">TICKET LIST</button>
    <br>
    <button class="dashbtn" (click)="openDialog('create')">CREATE TICKET</button>
    <br>
    <button class="dashbtn" (click)="openDialog('update')">UPDATE TICKET</button>
    <br>
    <button class="dashbtn" (click)="openDialog('view')">VIEW TICKET</button>
    <br>
    <button class="dashbtn" (click)="openDialog('addrem')" style = "font-size: 40pt;">ADD REMINDER FOR AGING TICKETS</button>  
    <!-- <button class="dashbtn">TICKET WORKFLOW</button> -->
</div>

<div class="list-ticket"></div>