.dashbtn{
    border:none;
    font-family: 'Chathura' ;
    border-radius:25px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 61px;
    padding-top: -10px;
    height: 93px;
    color: aliceblue;
    width: 5.5in;
    background: rgba(36, 9, 9, 0.9);
    backdrop-filter: blur(2px);
    cursor: pointer;
    font-size: 70px;  
    letter-spacing: 0.005em;
    line-height: 100%;
  }
  
  .dashbtn:hover{
  
    background-color: rgb(53, 52, 52);
    }
         
    .dashbtn:active{
    
      background-color: black;
    
      }
      .dashbtn:focus{
    
        background-color: black;
        opacity: 80%;
        
        }