

  .navbar {
    height: 150px;
    z-index: 1;
    background-color: black;
    opacity: 0.6;
  }
  
  .logo {
    position: absolute;
    z-index: 1;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 355px;
    height: 130px;
    left: 68px;
    top: 10px
  }
  
  #logo {
    position: absolute;
    padding-top: 10px;
    padding-left: 5px;
    height: 80px;
    z-index: 1;
    margin: 5%;
  }
  
  .red {
  
    position: absolute;
    margin-top: 38px;
    margin-left: 30%;
    height: 70px;
    width: 70%;
    z-index: 1;
    background-color: red;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
    
  }
    
  h3 {
   
    color: white;
    margin-top: 23px;
    margin-left: 10px;
    font-family: 'Chathura';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 25px;
    letter-spacing: 5px;
    padding-left: 15px;
  }
  
  h2 {
    margin-top: 0%;
    margin-bottom: 1px;
  }


.dashbtn{
    border:none;
    font-family: 'Chathura' ;
    border-radius:25px;
    margin-bottom: 20px;
    margin-left: 65px;
    margin-right: 30  px;
    padding-top: -10px;
    margin-top: -5px;
    height: 93px;
    color: aliceblue;
    width: 3in;
    background: rgba(241, 5, 5, 0.9);
    backdrop-filter: blur(2px);
    cursor: pointer;
    font-size: 40px;  
    letter-spacing: 0.005em;
    line-height: 100%;
  }
  
  .dashbtn:hover{
  
    background-color: rgb(53, 52, 52);
    }
         
    .dashbtn:active{
    
      background-color: black;
    
      }
      .dashbtn:focus{
    
        background-color: black;
        opacity: 80%;
        
        }

.content p{
  font-family: 'Chathura' ;
  font-style: normal;
  color: white;
  font-size: 100px;
  padding-left: 63px;
  margin-top: .2%;
  margin-bottom: 4%;
  padding-top: 1%;
  letter-spacing: 5px;
  line-height: 50px;

}


.body-div{
  display: flex;
}

.ticket-list-div{
  flex: 5;
}

.buttons-div{
  margin-left: 3%;
  flex: 1;
}

.bars-and-filters-div{
  padding-left: 1%;
}

.bars-and-filters-elements{
  font-family: 'Chathura' ;
  font-style: normal;
  font-weight: bold;
  height: 10%;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  margin-right: 1%;
  padding: 0;
}

.bars-and-filters-elements:focus{
  outline: none;
}

.custom-search-bar{
  width: 50%;
  border: none;
  background-color: #EBE9E9;
  padding-left: 1%;
}

.custom-dropdown{
  width: 14%;
  text-align: center;
  background-color: #F12F2F;
  color: white;
}

.custom-button{
  width: 10%;
  background-color: #F12F2F;
  color: white;
}