
    <div class="ticket-body">
        <h1>Ticket List</h1>

        <table class="table">
            <tr>
                <th>TRACKER</th>
                <th>TICKET ID</th>
                <th>SUBJECT</th>
            </tr>
            <tr>
                <td>Payroll</td>
                <td>1</td>
                <td>Have not received payroll</td>
            </tr>
            <tr>
                <td>Recruitment</td>
                <td>2</td>
                <td>New Interns</td>
            </tr>
            <tr>
                <td>Memo</td>
                <td>3</td>
                <td>For the event</td>
            </tr>
            <tr>
                <td>Other</td>
                <td>4</td>
                <td>Monthly meeting</td>
            </tr>
            <tr>
                <td>Benefits</td>
                <td>5</td>
                <td>PhilHealth</td>
            </tr>
            <tr>
                <td>Benefits</td>
                <td>5</td>
                <td>PhilHealth</td>
            </tr>
            <tr>
                <td>Benefits</td>
                <td>5</td>
                <td>PhilHealth</td>
            </tr>
            <tr>
                <td>Benefits</td>
                <td>5</td>
                <td>PhilHealth</td>
            </tr>
        </table>
    </div>

