
<!-- <h1>this page works</h1> -->


        <div class="modal">
            <div class="modal-body">
                <h1>Update Ticket</h1>

                <button class="updatebtn">status</button>
                <button class="updatebtn">assignee</button>
                <button class="updatebtn">ticket</button>

                <form>
                    <label for="ticketId">Ticket ID</label>
                    <input type="text" class="input">
                    <br/>
                    <label for="oldAssignee">Old Assignee</label>
                    <input type="text" class="input">
                    <br/>
                    <label for="newAssignee">New Assignee</label>
                    <input type="text" class="input">
                </form>
            </div>
        </div>
        <div class="modal-background"></div>